## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description
0,0,Port Elizabeth,ZA,2021-04-10 01:25:09,-33.9180,25.5701,57.20,94,0,3.44,clear sky
1,1,Atuona,PF,2021-04-10 01:28:54,-9.8000,-139.0333,80.49,77,17,13.49,few clouds
2,2,Kahului,US,2021-04-10 01:28:54,20.8947,-156.4700,78.80,57,20,23.02,few clouds
3,3,Katsuura,JP,2021-04-10 01:28:54,35.1333,140.3000,54.00,57,100,3.00,overcast clouds
4,4,Neuruppin,DE,2021-04-10 01:28:55,52.9282,12.8031,43.00,83,100,2.51,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description
1,1,Atuona,PF,2021-04-10 01:28:54,-9.8000,-139.0333,80.49,77,17,13.49,few clouds
2,2,Kahului,US,2021-04-10 01:28:54,20.8947,-156.4700,78.80,57,20,23.02,few clouds
14,14,Rikitea,PF,2021-04-10 01:28:58,-23.1203,-134.9692,78.19,74,81,10.76,broken clouds
15,15,Antalaha,MG,2021-04-10 01:28:58,-14.9003,50.2788,72.88,90,54,5.57,broken clouds
17,17,Maldonado,UY,2021-04-10 01:28:59,-34.6667,-54.9167,70.00,94,75,5.75,light rain
24,24,San Cristobal,VE,2021-04-10 01:29:01,7.7669,-72.2250,78.80,83,40,2.30,scattered clouds
29,29,Kindia,GN,2021-04-10 01:29:02,10.0569,-12.8658,73.26,84,54,3.74,broken clouds
30,30,Vila Velha,BR,2021-04-10 01:29:02,-20.3297,-40.2925,75.99,64,75,6.91,broken clouds
31,31,Avarua,CK,2021-04-10 01:29:02,-21.2078,-159.7750,84.20,79,87,5.75,overcast clouds
32,32,Carnarvon,AU,2021-04-10 01:29:03,-24.8667,113.6333,87.80,55,67,14.97,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                1
Date                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description
1,1,Atuona,PF,2021-04-10 01:28:54,-9.8000,-139.0333,80.49,77,17,13.49,few clouds
2,2,Kahului,US,2021-04-10 01:28:54,20.8947,-156.4700,78.80,57,20,23.02,few clouds
14,14,Rikitea,PF,2021-04-10 01:28:58,-23.1203,-134.9692,78.19,74,81,10.76,broken clouds
15,15,Antalaha,MG,2021-04-10 01:28:58,-14.9003,50.2788,72.88,90,54,5.57,broken clouds
17,17,Maldonado,UY,2021-04-10 01:28:59,-34.6667,-54.9167,70.00,94,75,5.75,light rain
...,...,...,...,...,...,...,...,...,...,...,...
727,727,Kralendijk,BQ,2021-04-10 01:30:19,12.1500,-68.2667,80.60,78,100,12.66,overcast clouds
731,731,Cockburn Town,TC,2021-04-10 01:32:24,21.4612,-71.1419,75.60,61,39,18.34,scattered clouds
732,732,Hirara,JP,2021-04-10 01:32:24,24.8000,125.2833,73.40,73,75,13.80,broken clouds
735,735,Kalmunai,LK,2021-04-10 01:32:25,7.4167,81.8167,80.69,74,4,5.23,clear sky
736,736,Bonfim,BR,2021-04-10 01:32:25,3.0833,-59.9500,74.28,91,100,2.21,light rain

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = " "
hotel_df.head(10)

,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
1,Atuona,PF,80.49,few clouds,-9.8000,-139.0333,
2,Kahului,US,78.80,few clouds,20.8947,-156.4700,
14,Rikitea,PF,78.19,broken clouds,-23.1203,-134.9692,
15,Antalaha,MG,72.88,broken clouds,-14.9003,50.2788,
17,Maldonado,UY,70.00,light rain,-34.6667,-54.9167,
24,San Cristobal,VE,78.80,scattered clouds,7.7669,-72.2250,
29,Kindia,GN,73.26,broken clouds,10.0569,-12.8658,
30,Vila Velha,BR,75.99,broken clouds,-20.3297,-40.2925,
31,Avarua,CK,84.20,overcast clouds,-21.2078,-159.7750,
32,Carnarvon,AU,87.80,broken clouds,-24.8667,113.6333,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
1,Atuona,PF,80.49,few clouds,-9.8000,-139.0333,Villa Enata
2,Kahului,US,78.80,few clouds,20.8947,-156.4700,Maui Seaside Hotel
14,Rikitea,PF,78.19,broken clouds,-23.1203,-134.9692,Pension Maro'i
15,Antalaha,MG,72.88,broken clouds,-14.9003,50.2788,Hotel Vitasoa
17,Maldonado,UY,70.00,light rain,-34.6667,-54.9167,La Cimarrona
24,San Cristobal,VE,78.80,scattered clouds,7.7669,-72.2250,Posada Villaven C.A.
29,Kindia,GN,73.26,broken clouds,10.0569,-12.8658,LES EAUX DE KILISSI
30,Vila Velha,BR,75.99,broken clouds,-20.3297,-40.2925,Quality Suites Vila Velha
31,Avarua,CK,84.20,overcast clouds,-21.2078,-159.7750,Paradise Inn
32,Carnarvon,AU,87.80,broken clouds,-24.8667,113.6333,Hospitality Carnarvon

In [16]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [27]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [28]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
city_des = hotel_df["Current description"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))